.footer {
    background: #353535;
    color: white;
    padding-bottom: 25px;

    &__title {
        font-family: 'Shrikhand', cursive;
        padding: 20px 0 0 29px;
        margin-top: 0;
    }

    &__ul {
        list-style: none;
        padding-left: 30px;

        .footer__li {
            margin-bottom: 10px;

            &:hover {
                color: $color-secondary;
            }

            &__contact {
                text-decoration: none;
                color: white;

                &:hover {
                    color: $color-secondary;
                }
            }
        }

        .fa-solid__ul {
            margin-right: 10px;
        }
    }
}