html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  font-family: "Shrikhand", cursive;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}
.header__btn {
  position: absolute;
  left: 20px;
  color: black;
  font-size: 1.5em;
}

.footer {
  background: #353535;
  color: white;
  padding-bottom: 25px;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  padding: 20px 0 0 29px;
  margin-top: 0;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    padding: 0;
  }
}
.footer__ul {
  list-style: none;
  padding-left: 30px;
}
@media screen and (min-width: 768px) {
  .footer__ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
  }
}
.footer__ul .footer__li {
  margin-bottom: 10px;
}
.footer__ul .footer__li:hover {
  color: #FF79DA;
}
.footer__ul .footer__li__contact {
  text-decoration: none;
  color: white;
}
.footer__ul .footer__li__contact:hover {
  color: #FF79DA;
}
.footer__ul .fa-solid__ul {
  margin-right: 10px;
}

h2 {
  margin-left: 20px;
}

.form {
  background: #eaeaea;
  height: 3rem;
  padding: 1rem;
  box-shadow: inset 0 15px 13px -15px rgba(0, 0, 0, 0.28);
}
.form__div {
  text-align: center;
  width: max-content;
  margin: auto;
}
.form__input {
  width: 60%;
  border: none;
  background: #eaeaea;
  color: black;
  font-weight: bold;
}

.reservation {
  text-align: center;
  background: #F7F7F7;
  padding: 20px 0 50px 0;
}
.reservation__h2 {
  margin: 0;
}
.reservation__p {
  margin-top: 8px;
}
.reservation__btn {
  border-radius: 50px;
  border: none;
  height: 3rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0 20px;
}
.reservation__btn:hover {
  filter: brightness(115%);
  cursor: pointer;
}
.reservation__btn:hover {
  box-shadow: 0px 0px 13px 0px #999;
}

.functioning {
  padding-top: 20px;
}
.functioning__list {
  padding-left: 0;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .functioning__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
.functioning__li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F7F7F7;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  width: 80%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .functioning__li {
    width: 30%;
  }
}
.functioning__li:hover {
  background: rgba(147, 86, 220, 0.3);
}
.functioning__li--icon {
  padding-right: 10px;
}
.functioning__li span {
  position: absolute;
  left: -10px;
  margin-right: 20px;
  background: #9356DC;
  border-radius: 18px;
  width: 20px;
  text-align: center;
  color: white;
}

.section-restaurants {
  background: #F7F7F7;
  padding: 20px 0;
}
@media screen and (min-width: 768px) {
  .section-restaurants {
    padding: 50px 0;
  }
}
@media screen and (min-width: 1024px) {
  .section-restaurants {
    padding: 20px 0;
  }
}

.restaurant__cards {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurant__cards {
    display: flex;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__cards {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 30px;
  }
}
.restaurant__cards .card-3-4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .restaurant__cards .card-3-4 {
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurant__cards .card-3-4 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.card {
  background: #fff;
  width: 90%;
  border-radius: 20px;
  box-shadow: 0px 5px 10px #999;
  position: relative;
  margin-top: 20px;
  transition: box-shadow 0.3s;
}
.card:hover {
  box-shadow: 0 0 2em #999;
}
@media screen and (min-width: 1024px) {
  .card {
    width: 45%;
    height: 100%;
  }
}
.card--4 {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .card--4 {
    margin-bottom: 0;
  }
}
.card__link {
  text-decoration: none;
  color: black;
}
.card__image {
  border-radius: 20px 20px 0 0;
  object-fit: cover;
  width: 100%;
  height: 130px;
}
.card__body {
  padding: 10px 15px 0 10px;
  display: flex;
  justify-content: space-between;
}
.card__body__h3 {
  margin: 0;
}
.card__body__icon {
  font-size: x-large;
}
.card__body__icon .fa-heart--vide {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.card__body__icon .fa-heart--plein {
  opacity: 0;
  transition: all 0.5s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.card__body__icon:hover .fa-heart--vide {
  opacity: 0;
}
.card__body__icon:hover .fa-heart--plein {
  opacity: 1;
}
.card__new {
  background: #99e2d0;
  color: #008766;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 3px;
  padding: 10px;
}

.image-top {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
@media screen and (min-width: 1024px) {
  .image-top {
    height: 400px;
  }
}

.main-section {
  background: #eaeaea;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: -50px;
  position: relative;
}
.main-section__title {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  position: relative;
  align-items: center;
}
.main-section__title__h2 {
  font-family: "Shrikhand", cursive;
}
.main-section__title .coeur-div {
  width: 24px;
  font-size: x-large;
}
.main-section__title .coeur-div .fa-heart--vide {
  opacity: 1;
  transition: all 0.5s ease-out;
}
.main-section__title .coeur-div .fa-heart--plein {
  opacity: 0;
  transition: all 0.5s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main-section__title .coeur-div:hover .fa-heart--vide {
  opacity: 0;
}
.main-section__title .coeur-div:hover .fa-heart--plein {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .main-section .menu-all {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  .main-section .menu-section {
    width: 40%;
  }
}
.main-section .menu-section__starters {
  display: flex;
  flex-direction: column;
}
.main-section .menu-section__starters__h3 {
  margin-bottom: 0;
  margin-left: 20px;
}
.main-section .menu-section__starters__h3-border {
  background: #99E2D0;
  width: 60px;
  height: 3px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.main-section .menu-section__starters__articles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-section .menu-section__starters__articles--1 {
  animation: SlideUp 1s;
}
.main-section .menu-section__starters__articles--2 {
  animation: SlideUp 2s;
}
.main-section .menu-section__starters__articles--3 {
  animation: SlideUp 3s;
}
@keyframes SlideUp {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.main-section__check {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
}

.menu-all + .btn-order-div {
  text-align: center;
  padding: 30px 0;
}
.menu-all + .btn-order-div .btn-order {
  border-radius: 50px;
  border: none;
  height: 3rem;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0 20px;
}
.menu-all + .btn-order-div .btn-order:hover {
  filter: brightness(115%);
  cursor: pointer;
}
.menu-all + .btn-order-div .btn-order:hover {
  box-shadow: 0px 0px 13px 0px #999;
}

.dish {
  display: flex;
  background: white;
  border-radius: 25px;
  padding-left: 16px;
  width: 90%;
  position: relative;
  box-shadow: 0px 5px 10px #999;
  overflow: hidden;
  margin-bottom: 20px;
  white-space: nowrap;
}
.dish__title {
  width: 80%;
  transition: all 1s;
}
.dish__title__h4, .dish__title__p {
  transition: all 1s;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__prize {
  width: 20%;
  align-self: center;
}
.dish__check {
  color: white;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #99E2D0;
  transition: all 1s;
}
.dish__check .fa-circle-check {
  transform: rotate(-1turn);
  transition: transform 1s;
  font-size: 200%;
}
.dish:hover .dish__title {
  width: 60%;
}
.dish:hover .dish__title__h4, .dish:hover .dish__title__p {
  white-space: nowrap;
}
.dish:hover .dish__check {
  width: 30%;
}
.dish:hover .dish__check .fa-circle-check {
  transform: rotate(0);
}

.loading-page__loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.7);
  animation: disappear 3s;
  animation-fill-mode: forwards;
}
.loading-page__loader > .point {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 5px;
}
.loading-page__loader > .point--1 {
  background-color: #9356DC;
  animation: slide 2s 0s;
}
.loading-page__loader > .point--2 {
  background-color: #FF79DA;
  animation: slide 2s 500ms;
}
.loading-page__loader > .point--3 {
  background-color: #99E2D0;
  animation: slide 2s 1s;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
