.dish {
    display: flex;
    background: white;
    border-radius: 25px;
    padding-left: 16px;
    width: 90%;
    position: relative;
    box-shadow: 0px 5px 10px #999;
    overflow: hidden;
    margin-bottom: 20px;


    &__title {
        width: 80%;
        transition: all 1s;

        &__h4,
        &__p {
            transition: all 1s;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__prize {
        width: 20%;
        align-self: center;
    }

    &__check {
        color: white;
        width: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $color-tertiary;
        transition: all 1s;

        .fa-circle-check {
            transform: rotate(-1turn);
            transition: transform 1s;
        }

    }

    &:hover & {
        &__title {
            width: 60%;

            &__h4,
            &__p {
                white-space: nowrap;
            }
        }

        &__check {
            width: 30%;

            .fa-circle-check {
                transform: rotate(0);
            }
        }
    }
}