.form {
    background: #eaeaea;
    height: 3rem;
    padding: 1rem;
    box-shadow: inset 0 15px 13px -15px rgba(0, 0, 0, 0.28);
    ;

    &__div {
        text-align: center;
    }

    &__input {
        border: none;
        background: #eaeaea;
        color: black;
        font-weight: bold;
    }
}

.reservation {
    text-align: center;
    background: #F7F7F7;
    padding: 3rem 3rem;

    &__h1 {
        margin: 0;

    }

    &__p {
        margin-top: 8px;
    }

    &__btn {
        border-radius: 50px;
        border: none;
        height: 3rem;
        color: white;
        background: linear-gradient(#FF79DA, #9356DC);
    }
}