// LOADER

.loading-page {

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 1;
        background-color: rgba($color: #fff, $alpha: 0.7);
        animation: disappear 2s;
        animation-fill-mode: forwards;


        &>.point {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 5px;
        }

        &>.point--1 {
            background-color: $color-primary;
            animation: slide 1s;
        }

        &>.point--2 {
            background-color: $color-secondary;
            animation: slide 1.5s;
        }

        &>.point--3 {
            background-color: $color-tertiary;
            animation: slide 2s;
        }
    }
}

@keyframes slide {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes disappear {
    0% {
        transform: scale(1);
    }

    100% {
        visibility: hidden;
    }
}